
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% from "back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "/ethnic-group"
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/licence-type" method="post">

      {% from "input/macro.njk" import govukInput %}
      {% from "fieldset/macro.njk" import govukFieldset %}
      {% from "radios/macro.njk" import govukRadios %}

      {% set mixedOtherHtml %}
      {{ govukInput({
        id: "ethnicity-other",
        name: "ethnicity-other",
        classes: "govuk-!-width-two-thirds",
        label: {
          text: "Your Mixed background (optional)"
        },
        value: data['ethnicity-other']
      }) }}
      {% endset -%}

      {{ govukRadios({
        idPrefix: "ethnic-group-specific",
        name: "ethnic-group-specific",
        fieldset: {
          legend: {
            text: "Which one best describes your background?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "White and Black Caribbean",
            text: "White and Black Caribbean",
            id: 5,
            checked: data['ethnic-group-specific'] == "White and Black Caribbean"
          },
          {
            value: "White and Black African",
            text: "White and Black African",
            id: 6,
            checked: data['ethnic-group-specific'] == "White and Black African"
          },
          {
            value: "White and Asian",
            text: "White and Asian",
            id: 7,
            checked: data['ethnic-group-specific'] == "White and Asian"
          },
          {
            value: "Another Mixed background",
            text: "Another Mixed background",
            id: 8,
            conditional: {
              html: mixedOtherHtml
            },
            checked: data['ethnic-group-specific'] == "Another Mixed background"
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
</div>

{% endblock %}
