
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% from "back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "/ethnic-group"
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/summary" method="post">
      {% from "input/macro.njk" import govukInput %}
      {% from "fieldset/macro.njk" import govukFieldset %}
      {% from "radios/macro.njk" import govukRadios %}

      {% set whiteOtherHtml %}
      {{ govukInput({
        id: "ethnicity-other",
        name: "ethnicity-other",
        classes: "govuk-!-width-one-half",
        label: {
          text: "Your White background (optional)"
        },
        value: data['ethnicity-other']
      }) }}
      {% endset -%}

      <span class="govuk-caption-xl">Equality monitoring</span>

      {{ govukRadios({
        idPrefix: "ethnic-group-specific",
        name: "ethnic-group-specific",
        fieldset: {
          legend: {
            text: "Which one best describes your background?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "English, Welsh, Scottish, Northern Irish or British",
            text: "English, Welsh, Scottish, Northern Irish or British",
            checked: data['ethnic-group-specific'] == "English, Welsh, Scottish, Northern Irish or British"
          },{
            value: "Irish",
            text: "Irish",
            checked: data['ethnic-group-specific'] == "Irish"
          },{
            value: "Gypsy or Irish Traveller",
            text: "Gypsy or Irish Traveller",
            checked: data['ethnic-group-specific'] == "Gypsy or Irish Traveller"
          },{
            value: "Another White background",
            text: "Another White background",
            conditional: {
              html: whiteOtherHtml
            },
            checked: data['ethnic-group-specific'] == "Any other White background"
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
</div>

{% endblock %}
