
{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "input/macro.njk" import govukInput %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Enter your address:</h1>

      <form action="/licence-type" method="post">


        {{ govukInput({
          label: {
            text: "Building number or name"
          },
          id: "building-number-or-name",
          name: "building-number-or-name",
          classes: "govuk-input--width-20",
          hint: {
            text: "For example, 47, Flat 2a or Rose Cottage"
          }
        }) }}

        {{ govukInput({
          label: {
            text: "Address line 1 (optional)"
          },
          id: "address-1",
          name: "address-1",
          classes: "govuk-input--width-20"
        }) }}

        {{ govukInput({
          label: {
            text: "Address line 2 (optional)"
          },
          id: "address-2",
          name: "address-2",
          classes: "govuk-input--width-20"
        }) }}

        {{ govukInput({
          label: {
            text: "Town or city"
          },
          id: "town",
          name: "town",
          classes: "govuk-input--width-20"
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode"
          },
          id: "postcode",
          name: "postcode",
          classes: "govuk-input--width-20"
        }) }}

        {% from "select/macro.njk" import govukSelect %}

        {{ govukSelect({
          id: "country",
          name: "country",
          label: {
            text: "Country"
          },
          classes: "",
          items: [
            {
              value: "United Kingdom",
              text: "United Kingdom"
            },
            {
              value: "England",
              text: "England"
            },
            {
              value: "Wales",
              text: "Wales"
            },
            {
              value: "Scotland",
              text: "Scotland"
            },
            {
              value: "Northern Ireland",
              text: "Northern Ireland"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}