
{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}


{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/equality-monitoring"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "input/macro.njk" import govukInput %}
      {% from "fieldset/macro.njk" import govukFieldset %}
      {% from "radios/macro.njk" import govukRadios %}
      {% from "details/macro.njk" import govukDetails %}


      <form action="/ethnic-group-choice" method="post">

        <span class="govuk-caption-xl">Equality monitoring</span>

        {% call govukFieldset({
          legend: {
            text: "What is your ethnic group?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        }) %}

        {{ govukDetails({
          summaryText: "How we protect your data",
          html: "Your ethnicity will be stored separately from other personal details, such as your name, so it is not possible to identify you. It will be stored securely for 2 years in line with our <a href=\"#\">privacy policy</a>."
        }) }}


          {{ govukRadios({
            idPrefix: "ethnic-group",
            name: "ethnic-group",
            items: [
              {
                value: "White",
                text: "White",
                label: {
                  classes: 'govuk-label--s'
                },
                hint: {
                  text: 'Includes any White background'
                },
                checked: data['ethnic-group'] == "White"
              },
              {
                value: "Mixed or multiple ethnic groups",
                text: "Mixed or multiple ethnic groups",
                label: {
                  classes: 'govuk-label--s'
                },
                hint: {
                  text: 'Includes any Mixed background'
                },
                checked: data['ethnic-group'] == "Mixed or multiple ethnic groups"
              },
              {
                value: "Asian or Asian British",
                text: "Asian or Asian British",
                label: {
                  classes: 'govuk-label--s'
                },
                hint: {
                  text: 'For example, Chinese, Indian, Pakistani, Bangladeshi or any other Asian background'
                },
                checked: data['ethnic-group'] == "Asian or Asian British"
              },
              {
                value: "Black or Black British",
                text: "Black or Black British",
                label: {
                  classes: 'govuk-label--s'
                },
                hint: {
                  text: 'For example, African, Caribbean or any other Black background'
                },
                checked: data['ethnic-group'] == "Black or Black British"
              },
              {
                value: "Another ethnic group",
                text: "Another ethnic group",
                label: {
                  classes: 'govuk-label--s'
                },
                hint: {
                  text: 'For example, Arab or any other background'
                },
                checked: data['ethnic-group'] == "Another ethnic group"
              }
            ]
          }) }}

        {% endcall %}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
</div>

{% endblock %}
