
{% extends "layout.html" %}

{% from "inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Buy a fishing rod licence</h1>

      <p class="govuk-body">You can buy a 1-day, 8-day or 12-month licence online.</p>

      <p class="govuk-body">You’ll need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>a debit or credit card</li>
        <li>your Blue Badge or National Insurance number, if you have a disability and you’re applying for a 12-month licence</li>
        <li>the other person’s details (such as date of birth), if you’re buying for someone else</li>
      </ul>


      {{ govukInsetText({
        text: "You can use the online service to get a junior licence for children aged 13 to 16. You will not need to pay."
      }) }}

      <p class="govuk-body">This licence can start on any date as long as it’s within 60 days of the day you buy it.</p>

      {{ govukButton({
        text: "Buy now",
        href: "/licence-length",
        classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}
    </div>
  </div>
{% endblock %}